<mat-card>
  <app-name-page [page]="page"></app-name-page>
  <form class="pr-5 pl-5" [formGroup]="form">
    <app-input [config]="configName" [formGroup]="form"></app-input>
    <app-input [config]="configEmail" [formGroup]="form"></app-input>
    <app-input [config]="configRole" [formGroup]="form"></app-input>
    <button
      mat-button
      (click)="onClick()"
      class="w-full bg-gray-900 text-white py-3 rounded-lg hover:bg-gray-700 focus:outline-none"
    >
      Save User
    </button>
  </form>
</mat-card>
