<mat-card>
  <app-name-page [page]="page"></app-name-page>
  <form class="pr-5 pl-5" [formGroup]="form">
    <app-input [config]="configProject" [formGroup]="form"></app-input>
    <app-input [config]="configUser" [formGroup]="form"></app-input>
    <app-input [config]="configTitle" [formGroup]="form"></app-input>
    <app-input [config]="configDescription" [formGroup]="form"></app-input>
    <app-input [config]="configDueDate" [formGroup]="form"></app-input>
    <app-input [config]="configStatus" [formGroup]="form"></app-input>
    <app-input [config]="configPriority" [formGroup]="form"></app-input>
    <button
      mat-button
      (click)="onClick()"
      class="w-full bg-gray-900 text-white py-3 rounded-lg hover:bg-gray-700 focus:outline-none"
    >
      Save Task
    </button>
  </form>
</mat-card>
