<mat-card>
  <div class="flex flex-row items-center justify-between">
    <app-name-page [page]="page"></app-name-page>
    <button
      type="submit"
      (click)="onViewChart()"
      class="w-auto bg-gray-900 text-white py-3 rounded-lg hover:bg-gray-700 focus:outline-none mb-4"
    >
      See Progress
    </button>
  </div>

  <app-table
    [data]="data"
    [count]="count"
    [columns]="columns"
    (pageChanged)="onPageChanged($event)"
    (sortChanged)="onSortChanged($event)"
  ></app-table>
</mat-card>
