<mat-card class="flex !flex-row">
  <div class="flex flex-col w-max mr-4">
    <div class="flex flex-col gap-4">
      <div class="important-text w-fit mb-5">{{ task!.title! }}</div>
      <div class="important-small-text italic mb-1">Description</div>
      <div class="important-small-text">{{ task!.description! }}</div>

      <div>
        <div class="flex flex-row items-center justify-between">
          <div class="important-small-text italic mb-1">Comments</div>
          <button
            type="submit"
            (click)="onAddComment()"
            class="inline-flex flex-shrink-0 justify-center items-center rounded-lg text-white bg-custom-dark hover:bg-custom-dark focus:z-10 focus:outline-none focus:ring-2"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <div *ngFor="let item of comments">
          <div class="task">
            <div class="tags">
              <span class="tag" (click)="onSendToUser(item)">{{
                item!.userId!.name!
              }}</span>
              <button class="options">
                <mat-icon>more_horiz</mat-icon>
              </button>
            </div>
            <p>
              {{ item!.commnet! }}
            </p>
            <div class="stats">
              <div>
                <div>
                  <mat-icon>calendar_month</mat-icon>
                  {{ item!.createdAt! | date : "dd MMM yyyy" }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="data?.length! > 0">
        <div class="important-small-text italic mb-1">Sub Tasks</div>
        <app-table
          [data]="data"
          [count]="count"
          [columns]="columns"
          (pageChanged)="onPageChanged($event)"
          (sortChanged)="onSortChanged($event)"
        ></app-table>
      </div>
    </div>
  </div>
  <div class="flex flex-col w-8/12 mf-3 gap-4">
    <div class="flex flex-row justify-around gap-2">
      <div class="task-data">
        <mat-icon class="icon">today</mat-icon>
        <div class="text">
          {{ task!.dueDate! | date : "dd MMM yyyy" }}
        </div>
      </div>
      <div class="task-data">
        <mat-icon class="icon">event</mat-icon>
        <div class="text">
          {{ task!.createdAt! | date : "dd MMM yyyy" }}
        </div>
      </div>
      <div class="task-data">
        <mat-icon class="icon">priority_high</mat-icon>
        <div class="text">
          {{ task!.priority! }}
        </div>
      </div>
      <div class="task-data">
        <mat-icon class="icon">running_with_errors</mat-icon>
        <div class="text">
          {{ task!.status! }}
        </div>
      </div>
    </div>
    <div class="flex flex-row justify-center">
      <app-charts-pie
        class="flex justify-between w-80 h-80"
        [pieChartData]="pieChartData"
        [pieChartOptions]="pieChartOptions"
        [hasValue]="hasValue"
      ></app-charts-pie>
    </div>
    <div class="flex flex-row justify-center gap-2">
      <div class="important-small-text italic mb-1">Assigned</div>
      <div class="important-small-text link-like" (click)="onSendToUser(null)">
        {{ task!.assignedId!.name! }}
      </div>
    </div>
    <div class="flex flex-row justify-center gap-2">
      <div class="important-small-text italic mb-1">Change status</div>
      <form [formGroup]="form" class="important-small-text link-like">
        <mat-select
          formControlName="status"
          (selectionChange)="onStatusChange($event.value)"
        >
          <mat-option
            *ngFor="let option of options"
            [value]="option"
            [disabled]="task.status.includes(option)"
          >
            {{ option }}
          </mat-option>
        </mat-select>
      </form>
    </div>
  </div>
</mat-card>
