<div class="flex flex-row justify-between">
  <div class="text-2xl font-bold mb-6 text-blue-700 flex items-center gap-2">
    <mat-icon color="primary">{{ page.icon }}</mat-icon>
    {{ page.name }}
    <div *ngFor="let item of page.content">
      <span class="text-blue-600 font-semibold mx-1">→</span> {{ item }}
    </div>
  </div>
  <div>
    <button
      class="flex items-center gap-2 text-blue-700 border border-blue-700 hover:bg-blue-700 hover:text-white font-semibold py-2 px-4 rounded-lg shadow-sm hover:shadow-md transition-all duration-200"
      (click)="onChangeVisibility()"
    >
      <mat-icon class="text-lg">{{
        type ? "visibility" : "visibility_off"
      }}</mat-icon>
      <span>Home</span>
    </button>
  </div>
</div>
