<mat-dialog-content class="w-[50dvw] h-max">
  <div class="card flex items-center justify-center">
    <div class="relative p-4 w-full max-w-xl max-h-full">
      <div class="relative bg-white rounded-lg shadow">
        <form [formGroup]="form">
          <input type="hidden" name="" value="" />
          <div class="relative mb-4">
            <textarea
              name="content"
              id="hs-textarea-ex-2"
              class="p-4 pb-12 block w-full h-60 bg-gray-100 border-none rounded-lg text-md focus:border-none focus:ring-0 focus:outline-none resize-none"
              placeholder="Write a comment..."
              formControlName="comment"
              required=""
            ></textarea>
            <div class="absolute bottom-0 right-0 p-2 rounded-b-md bg-none">
              <div class="flex justify-between items-center">
                <div class="flex items-center">
                  <button
                    type="submit"
                    (click)="onSaveComment()"
                    class="inline-flex flex-shrink-0 justify-center items-center rounded-lg text-white bg-custom-dark hover:bg-custom-dark focus:z-10 focus:outline-none focus:ring-2"
                  >
                    <mat-icon>send</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</mat-dialog-content>
