<nav class="navbar bg-custom-dark">
  <div class="logo-name">
    <a [routerLink]="feet.route"> <i></i> Project Management </a>
  </div>
  <ul class="nav-links">
    <li
      *ngFor="let nav of routes"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a [routerLink]="nav.route">
        <i class="fas fa-{{ nav.icon }}"></i> {{ nav.name }}
      </a>
    </li>

    <li (click)="onLogout()" class="cursor-pointer">
      <i class="fas fa-sign-out-alt"></i> Logout
    </li>
  </ul>
</nav>
